@model HSCB.Models.ProductViewModel
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="text-content">
        <h2 class="text-center">@Model.Content.Title</h2>
        <div>
            @Html.Raw(Model.Content.Detail)
            
        </div>
       
        <br/>
        @if (Model.ImagesList.Any())
        {
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="owl-carousel owl-theme">
                    @foreach (var item in Model.ImagesList)
                    {
                        <div>
                            <img src="~/Content/images/hscb/@item.Url"/>
                        </div>    
                    }
                
                    @*<div> <img src="~/Content/images/hscb/du-an-bo/image009.jpg"/>
                </div>
                <div> <img src="~/Content/images/hscb/du-an-bo/image013.jpg"/>
                </div>
                <div> <img src="~/Content/images/hscb/du-an-bo/image017.jpg"/>
                </div>
                <div> <img src="~/Content/images/hscb/du-an-bo/image022.jpg"/>
                </div>
                <div> <img src="~/Content/images/hscb/du-an-bo/image040.jpg"/>
                </div>*@
                </div>    
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function(){
        var owl = $('.owl-carousel');

        owl.owlCarousel({
            items:1,
            loop: true,
            dots: true,
            margin: 0,
            autoplay:true,
            autoplayTimeout: 2000,
            autoplayHoverPause:false
        });

        owl.trigger('play.owl.autoplay', [2000]);
    });
</script>


