
@{
    ViewBag.Title = "Thông cáo báo chí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="callaction padding-top-0">
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2>Thông cáo báo chí</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


