@using System.Web.Mvc.Html
@model HSCB.Areas.Admin.Models.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="/assets/Login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/assets/Login/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/assets/Login/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autofocus = "autofocus", @placeholder =  "Username" })
                        @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger"})
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.PassWord, null, new { @class = "text-danger" })
                    </div>
                    <button  class="btn btn-primary btn-block" href="index.html">Login</button>
                }
                <div class="text-center">
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/assets/Login/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/Login/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/assets/Login/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
