
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="text-content">
        <h2 class="text-center">Về chúng tôi</h2>
        <p><b>Công ty Cổ phần đầu tư nuôi trồng HSCB</b>  được thành lập vào ngày 08 tháng 09 năm 2015, là một trong những doanh nghiệp đi đầu trong việc phát triển các hệ thống trang trại truyền thống theo hướng hữu cơ, với mô hình sản xuất hoàn toàn khép kín. 
        </p>
        <p>
            Kể từ khi thành lập đến nay, với tinh thần nhiệt huyết và cống hiến, HSCB đã không ngừng lớn mạnh và liên tục phát triển không chỉ về quy mô sản xuất, mà cả về kĩ thuật chăn nuôi, trồng trọt cũng ngày một cải tiến và nâng cao. 
        </p>
        <br/>
        <div class="sub-text-content">
            <h4 class="text-center">
                <b>Sứ mệnh</b>
            </h4>    
            <p>
                Toàn thể thành viên HSCB chúng tôi luôn tự nhắn nhủ rằng sứ mệnh của mình là mang lại nguồn thực phẩm sạch và chất lượng cao nhất, giá cả hợp lý nhất cho cộng đồng, để mọi nhà đều có thể thưởng thức những bữa ăn ngon, an toàn và bổ dưỡng.
            </p>
        </div>
        <div class="sub-text-content">
            <h4 class="text-center">
                <b>Giá trị cốt lõi</b>
            </h4>
            <p>
                <b>HSCB</b> luôn coi lợi ích của Khách hàng là những mục tiêu để chúng tôi không ngừng hoàn thiện và hướng đến. Tôn chỉ này được phản ánh thông qua những nguyên tắc thiết yếu trong hoạt động của HSCB:
                <ul>
                    <li>
                        <b>Tân</b> – Không ngừng cải tiến, đổi mới
                    </li>
                    <li>
                        <b>Tốc</b> – Nhanh chóng, hiệu quả
                    </li>
                    <li>
                        <b>Tâm</b> – Tận Tâm, Trách nhiệm
                    </li>
                    <li>
                        <b>An</b> – An toàn, Chất lượng
                    </li>
                </ul>
            </p>
        </div>
        <div class="sub-text-content">
            <h4 class="text-center">
                <b>Tầm nhìn</b>
            </h4>
            <p>
                Trở thành thương hiệu hàng đầu về thực phẩm sạch tự nhiên giúp nâng cao chất lượng cuộc sống con người.
            </p>
        </div>

    </div>    
</div>


