
@{
    ViewBag.Title = "DevelopmentPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="text-content">
        <h2 class="text-center">Chiến lược phát triển</h2>
        <p>
            <b>Công ty HSCB</b> tập trung trí tuệ và sức lực đẩy lùi khó khăn, nắm bắt thời cơ, đổi mới nhận thức, chấn chỉnh tổ chức, khai thác tối đa các nguồn vốn, mạnh dạn đầu tư thiết bị, con người, ứng dụng công nghệ cao vào sản xuất kinh doanh và đang dần khẳng định được vị thế, uy tín, kiên định theo chiến lược phát triển bền vững của mình, cụ thể:
        </p>
        <ul>
            <li>
                Tập trung cải thiện đẩy mạnh mở rộng thêm hệ thống trang trại trên nhiều tỉnh thành, tăng khả năng sản xuất để đáp ứng được nhu cầu tiêu thụ ngày càng lớn của thị trường trong và ngoài nước.
            </li>
            <li>
                <b>Định hướng xuất khẩu:</b> Trở thành thương hiệu uy tín hàng đầu của Việt Nam về nông sản với các sản phẩm hữu cơ chất lượng nhất, hợp tác liên kết sản xuất với người dân để tăng quy mô sản xuất đồng thời góp phần tăng mức sống của người nông dân.
            </li>
            <li>
                <b>Mở rộng hoạt động trong lĩnh vực sản xuất:</b> đầu tư xây dựng nhà máy nha đam, nhà máy ủ chua,… nhằm làm tăng giá trị mặt hàng nông sản và chủ động đầu ra.
            </li>
            <li>
                Phát triển du lịch theo hướng nông nghiệp sạch, quảng bá hình ảnh nông nghiệp Việt Nam với bạn bè quốc tế, góp phần nâng cao tinh thần, ý thức của người dân về nông nghiệp sạch. Trở thành điểm đến du lịch hấp dẫn cho du khách trong và ngoài nước.
            </li>
        </ul>
    </div>
</div>