
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/assets/admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/assets/admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/assets/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()            
            </div>
        </div>
    </div>
    
</div>
    <!-- jQuery -->
    <script src="~/assets/admin/vendor/jquery/jquery.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/assets/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/assets/admin/vendor/metisMenu/metisMenu.min.js"></script>

    <script src="~/assets/admin/js/plugins/ckfinder/ckfinder.js"></script>

    <script src="~/assets/admin/js/plugins/ckeditor/ckeditor.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/assets/admin/dist/js/sb-admin-2.js"></script>

    @RenderSection("jsFooter", required: false)
</body>
</html>
