#body-content {
    min-height: 600px;
    padding-bottom: 60px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #ddd !important;  
}
p, li {
    font-size: 14px;
    text-align: justify;
}
.text-content li {
    margin: 10px 30px 5px; 
    list-style: circle;
}
.product-list {
    padding-left: 0;
    margin-bottom: 20px;
}

.product-list .product-item {
    margin: 30px 0px 15px;
    list-style: none;
}

.product-list .product-item p {
    margin-top: 15px;
    text-align: center;
}

.img-container {
    align-items: center;
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #cccccc;
}
    .img-container > div,
    .item-thumbs img {
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
.item-thumbs img {
    width: 100%;
}
.img-container:hover > div,
.item-thumbs:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.product-item .img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -ms-background-position: center center;
    background-position: center center;
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
}

.owl-carousel .owl-item {
    text-align: center;
    background: transparent;
}

#main-slider .slides li {
    overflow: hidden;
    height: 400px;
}

/*#product-slider .slides li {
    margin: 5px 0px;
    width: auto;
}

#product-slider .slides li img {
    height: 350px;
    width: auto;
}*/

.btn {
    border-radius: 4px;
}
.text-link {
    font-size: 16px;
    padding: 10px;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.text-link-min {
    font-size: 14px;
    padding: 5px 10px;
    transition: all 0.3s;
    background: #27ae60;
    color: white;
    float: left;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.text-link-min:hover {
        text-decoration: none;
        color: #f5f5f5;
        background-color: #027936;
    }
    
.text-link:hover {
    text-decoration: none;
    color: #f5f5f5;
    background-color: #2E57A7;
}
.dropdown-menu {
    top: 75px !important;
    border: solid 1px #eee;
    color: #2E57A7;
    padding: 5px;
}
.dropdown-menu li {
    padding: 5px 15px;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

    .dropdown-menu li a {
        color: #ffffff !important;
        transition: none !important;
    }

.dropdown-menu li:hover {
        background-color: #ffffff !important;
    }

        .dropdown-menu li:hover a {
            color: #096EB0 !important;
            
        }
.box-shadow {
    box-shadow: 2px 2px 2px #ddd;
}
.box-shadow-border {
    border: solid 1px #eee;
    padding: 5px;
    background-color: #ffffff;
}


.btn-send {
    background-color: #2980b9;
    float: right;
    padding: 10px 15px;
    color: #f5f5f5;
    font-size: 16px;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-send:hover {
        background-color: #096EB0;
        padding: 10px 15px;
        color: #ffffff;
    }
.form-control {
    border-radius: 2px !important;
    box-shadow: none;
    height: 40px;
}
.bottom-logo {
    background-color: white;
    float: left;
    border-radius: 2px;
    margin-top: 5px;
}
.padding-top-0 {
    padding: 0 0 0 0!important;
}
.news-container {
    margin: 0px 0 15px 0;
}
.datetime {
    float: right;
    text-align: right;
}
.about {
    padding-top: 15px;
    padding-bottom: 30px;
}
.images {
    width: 100%;
    height: auto;
}
.text-border {
    border: solid 2px #143F94;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.main-title {
    font-weight: bold;
    font-size: 18px;
    color: #143F94 !important;
}
.sub-new-title {
    font-size: 14px !important;
    margin-bottom: 0 !important;
    text-align: left !important;
    font-weight: bold;
    color: #143F94 !important;
}
.blue-background {
    padding-top: 25px;
    background-color: #2E57A7 !important;
    margin-bottom: 0px !important;
    background-position: center;
    background-repeat: no-repeat;
}
.blue-background section.callaction {
    color: #ffffff !important;
    background-color: transparent !important;
}
    .blue-background section.callaction h2 {
        color: #f3f3f3 !important;
    }
.text-content p img {
    text-align: center;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    /*background: #869791;*/
    background: #2E57A7;
}
.no-decoration {
    text-decoration: none;
}

.no-decoration:hover {
    text-decoration: none;
}
.product-intro {
    font-size: 12px;
    color: #333;
    text-align: justify;
}
#btnReceiveNews {
    width: 100%;
    height: 40px;
    background-color: #e74c3c;
    border: none;
}
#emailError {
    padding: 0px 15px;
}
.product-contact-wrapper .product-contact {
    color: #183186;
}

.product-contact-wrapper .company-name {
    color: #027936;
}

.product-contact-wrapper li {
    padding: 5px;
}
#product .callaction {
    padding-top: 22px;
    padding-bottom: 1px;
    margin-top: 15px;
}
#product .callaction h2 {
    color: #ffffff;
}
#product-content {
    padding-top: 25px;
}
.navbar-collapse {
    border-bottom: solid 2px #ddd;
    margin-bottom: 10px;
}
.sub-text-content h3 {
    color: #183186;
}

.multi-language {
    position: absolute;
    right: 30px;
    top: 0px;
    padding: 5px;
    z-index: 9999;
}

.change-language a {
    width: 30px;
    height: 25px;
    float: left;
    font-size: 12px;
    padding: 0px;
    text-align: center;
    margin: 0 2px;
    border-radius: 2px;
    visibility: hidden;
}
@media screen and (max-width: 767px) {
    
    #main-slider .slides li {
        overflow: hidden;
        height: 220px;
    }

    .slides li {
        height: 220px;
    }

    .navbar-header {
        border-bottom: solid 2px #ddd;
        padding-bottom: 10px;
    }
    
    .multi-language {
        right: 13px;
    }

    .change-language a {
        margin: -5px 2px 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    #main-slider .slides li {
        overflow: hidden;
        height: 350px;
    }
    .slides li {
        height: 350px;
    }

    .multi-language {
        right: 13px;
    }

    .change-language a {
        margin: -5px 2px 0px;
    }
}
@media screen and (max-width: 992px) {
    section.callaction h2 {
        font-size: 22px;
    }

    #product-slider .owl-carousel {
        display: none;
    }
    #product-content span img {
        width: 100% !important;
        height: auto !important;
    }
    
    .blue-background {
        background-size: auto 100%;
    }
}
@media screen and (min-width: 992px) {
    .sub-text-content {
        padding-top: 20px;
        padding-left: 35px;
        padding-right: 35px;
        text-align: center;
    }
    .text-custom {
        padding-top: 35px;
    }
    .box-thin {
        padding-left: 35px;
        padding-right: 35px;
    }
    .box-thin-min {
        padding-left: 15px;
        padding-right: 15px;
    }
    .padding-side-40 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .owl-carousel .owl-item img {
        height: 350px !important;
        width: auto;
        margin: 0px auto;
    }
    
    #btnReceiveNews {
        font-size: 18px;
    }

    #product-slider .owl-carousel,
    #product-slider .owl-carousel .owl-stage-outer {
        height: 300px;
    }
}

@media screen and (min-width: 1170px) {
    .col-lg-20 {
        width: 20% !important;
    }
    #product-slider .owl-carousel,
    #product-slider .owl-carousel .owl-stage-outer {
        height: 350px;
    }
}
