#body-content {
    min-height: 800px;
    padding-bottom: 50px;
}

p, span, li {
    font-size: 16px;
    text-align: justify;
}
.text-content li {
    margin: 10px 30px 5px; 
    list-style: circle;
}
.product-list {
    padding-left: 0;
    margin-bottom: 20px;
}

.product-list .product-item {
    margin: 30px 0px 15px;
    list-style: none;
}

.product-list .product-item p {
    margin-top: 15px;
    text-align: center;
}

.img-container {
    align-items: center;
    height: 185px;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #cccccc;
}
.product-item .img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -ms-background-position: center center;
    background-position: center center;
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
}

.owl-carousel .owl-item {
    text-align: center;
    background: transparent;
}

.slides li {
    overflow: hidden;
    height: 390px;
}
.btn {
    border-radius: 4px;
}
.text-link {
    font-size: 16px;
    padding: 10px;
    transition: all 0.3s;
}
.text-link-min {
    font-size: 14px;
    padding: 5px 7px;
    transition: all 0.3s;
}
.text-link:hover,
.text-link-min:hover {
    text-decoration: none;
    border-radius: 5px;
    border: solid 2px;
    color: #f5f5f5;
    background-color: #68A4C4;
}
.dropdown-menu {
    top: 75px !important;
    border: solid 1px #eee;
    color: #68A4C4;
    padding: 5px;
}
    .dropdown-menu li:hover {
        background-color: transparent !important;
    }

        .dropdown-menu li:hover a {
            color: #096EB0 !important;
        }
.box-shadow {
    box-shadow: 2px 2px 2px #ddd;
}
.btn-send {
    background-color: #2980b9;
    float: right;
    padding: 10px 15px;
    color: #f5f5f5;
    font-size: 16px;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-send:hover {
        background-color: #096EB0;
        padding: 10px 15px;
        color: #ffffff;
    }
.form-control {
    border-radius: 2px !important;
    box-shadow: none;
    height: 40px;
}
.bottom-logo {
    background-color: white;
    float: left;
    border-radius: 2px;
    margin-top: 5px;
}
.padding-top-0 {
    padding: 0 0 0 0!important;
}
.news-container {
    margin: 0px 0 15px 0;
}
.datetime {
    float: right;
    text-align: right;
}
.about {
    padding-top: 15px;
    padding-bottom: 30px;
}
.images {
    width: 100%;
    height: auto;
}
.text-border {
    border: solid 2px #68A4C4;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

@media screen and (max-width: 992px) {
    .slides li {
        height: 250px;       
    }
}
@media screen and (min-width: 992px) {
    .sub-text-content {
        padding-top: 20px;
        padding-left: 35px;
        padding-right: 35px;
        text-align: center;
    }
    .text-custom {
        padding-top: 35px;
    }
    .box-thin {
        padding-left: 35px;
        padding-right: 35px;
    }
    .box-thin-min {
        padding-left: 15px;
        padding-right: 15px;
    }
    .padding-side-40 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .owl-carousel .owl-item img {
        height: 350px !important;
        width: auto;
        margin: 0px auto;
    }
}
