
@{
    ViewBag.Title = "Hệ thống trang trại sạch khép kín";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="text-content">
                <section class="callaction" style="padding-top: 0 !important">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="big-cta">
                                    <div class="cta-text">
                                        <h2 class="text-center">Sản xuất chăn nuôi và trồng trọt</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <p>
                    <b>HSCB</b> tạo dựng thương hiệu của mình trong lĩnh vực nông nghiệp với hệ thống chuồng trại chăn nuôi và trồng trọt theo mô hình <i>hoàn toàn sạch và khép kín</i>.
                </p>
                <p>
                    Mỗi mắc xích liên kết trong mô hình của chúng tôi có liên hệ mật thiết và bổ sung cho nhau giúp tạo ra những sản phẩm chất lượng, chú trọng đến sức khoẻ cộng đồng.
                </p>
                <p>
                    Hiện Công ty đã có hệ thống trang trại, đối tác rộng khắp cả nước, đặc biệt ở các tỉnh <b>Đồng Nai, Ninh Thuận, Phú Yên, Trà Vinh,… </b>và đang không ngừng mở rộng để có thể đáp ứng được nhu cầu ngày càng tăng của thị trưởng đối với sản phẩm của mình.
                </p>
                <div class="col-xs-12 text-center">
                    <img src="~/Content/images/hscb/anh-ve-cong-ty/mohinh.png" width="100%" />
                </div>
            </div>
        </div>

    </div>
</div>
